body {
    font: 1em sans-serif;
}
button {
    padding: 10px;
    min-width: 106px;
    font: inherit;
}

.button-small {
    padding: 0px;
    min-width: 0px;
    font-size: smaller;
}

.filename-label {
    font-style: italic;
    font-size: smaller;
}

.border {
    border: lightgray 1px solid;
}

.input-small {
    width: 22px;
}